<div id="<%= dom_id movie %>">
  <p>
    <%= image_tag(movie.url, :width => 300, :height => 500) %>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= movie.text %>
  </p>

</div>
