<p style="color: green"><%= notice %></p>
<div class="container">



  <%= render 'navbar' %>
  <%= render 'movies' %>

  <div class="pagination">
    <%= will_paginate @movies, renderer: WillPaginate::ActionView::LinkRenderer %>
  </div>
</div>

